      @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

      .App {
        text-align: center;
        font-family: 'Montserrat', sans-serif;
      }
/* Header Section*/
    .header{
      background:url(/public/images/cover.jpg) no-repeat;
      background-size: cover;
      height: 70vh;
      padding-top: 10%;
    }
    .header h1{
      font-size: 600%;
    }
    .header-icon{
      color: rgb(37, 197, 197);
    }
    .header h6{
      font-size: 110%;
      letter-spacing: -0.8px;
    }
    .header p{
      color:rgb(37, 197, 197);
    }

    .menu-items{
      max-height: 300px;
      overflow:auto;
    }

/* Cards Section */
    .Infected {
      background-color: #b1d7fe;
      max-width: 80%;
    }
    .Recovered{
      background-color: #ddf6e2;
      max-width: 80%;
    }
    .Deaths{
      background-color: #f4d7d7;
      max-width: 80%;
    }
    .Active{
      background-color: #f5e1ca;
      max-width: 80%;
    }

